---
import FilledHeart from '../icons/FilledHeart.astro';
---

<footer class="w-full flex flex-row justify-center items-center gap-2 bg-primary-500 text-white py-4">

	<span>Hecho con</span>
	<FilledHeart />
	<span>por Luis Villamizar</span>

</footer>
